<h2>MOVIE DETAIL</h2>
{{movie.title}}
{{movie.genre}}
{{movie.plot}}

{{#each movie.cast}}
  {{this.name}}
  {{this.occupation}}
  {{this.catchPhrase}}
{{/each}}

<form method="post" action="/movies/{{movie._id}}/delete">
  <button type="submit">DELETE</button>
</form>